In [2]:
import pandas as pd

## hg38 UCSC

In [29]:
df = pd.read_csv('hg38.bed', sep='\t', usecols=[0, 1, 2, 3, 23], names=['chr', 'start', 'end', 'gene_name', 'gene_type'])

In [30]:
df['gene_type'].unique()

array(['Gene', 'tRNA', 'V_segment', 'D_segment', 'J_segment', 'C_region',
       'regulatory', 'rRNA'], dtype=object)

In [25]:
df

                       chr   start     end    gene_name gene_type
0                     chr1   52452   53396       OR4G4P      Gene
1                     chr1   63015   63885      OR4G11P      Gene
2                     chr1  126641  129225  SEPTIN14P18      Gene
3                     chr1  131067  134836       CICP27      Gene
4                     chr1  157783  157887   RNU6-1100P      Gene
...                    ...     ...     ...          ...       ...
18939  chrY_MU273398v1_fix  245358  248173       TSPY7P      Gene
18940  chrY_MU273398v1_fix  732247  735062       TSPY6P      Gene
18941  chrY_MU273398v1_fix  772715  775527      TSPY15P      Gene
18942  chrY_MU273398v1_fix  848836  851006      TSPY25P      Gene
18943  chrY_MU273398v1_fix  864902  865415      TSPY16P      Gene

[18944 rows x 5 columns]

In [26]:
coding_gene_df = df[df['gene_type'] == 'Gene']
coding_gene_df.to_csv('coding_genes.bed', sep='\t', header=False, index=False, columns=['chr', 'start', 'end', 'gene_name'])

In [11]:
for idx, col in enumerate(df.columns):
	print(idx)
	print(col)

0
chr1
1
52452
2
53396
3
OR4G4P
4
0
5
+
6
53396.1
7
53396.2
8
0.1
9
1
10
944,
11
0,
12
OR4G4P.1
13
79504
14
Unnamed: 14
15
HGNC:14822
16
Unnamed: 16
17
olfactory receptor family 4 subfamily G member 4 pseudogene
18
Unnamed: 18
19
Unnamed: 19
20
Unnamed: 20
21
Unnamed: 21
22
Unnamed: 22
23
Gene
24
pseudogene
25
true
26
Unnamed: 26
27
Unnamed: 27
28
Unnamed: 28
29
Unnamed: 29
30
Unnamed: 30
31
gene-OR4G4P

## hg38 Siavash

In [10]:
df = pd.read_csv('genes_siavash.bed', sep='\t', names=['chr', 'start', 'end', 'gene_name'])

In [11]:
df

         chr      start        end  gene_name
0       chr1      14361      29370     WASH7P
1       chr1      17368      17436  MIR6859-1
2       chr1      17368      17436  MIR6859-2
3       chr1      17368      17436  MIR6859-3
4       chr1      17368      17436  MIR6859-4
...      ...        ...        ...        ...
52288   chr4  122152331  122364167      BLTP1
52289  chr16   30370934   30377991      MYL11
52290  chr14   93651319   93654808      LYSET
52291  chrMT          0          0     MT-TL1
52292  chrMT          0          0      MT-TP

[52293 rows x 4 columns]

In [12]:
filtered_df = df[~df['gene_name'].str.startswith(tuple(['MIR', 'LINC', 'LOC']))]

In [13]:
filtered_df

         chr      start        end gene_name
0       chr1      14361      29370    WASH7P
9       chr1      34610      36081   FAM138A
10      chr1      34610      36081   FAM138F
11      chr1      34610      36081   FAM138C
13      chrY   13248378   13480670       UTY
...      ...        ...        ...       ...
52288   chr4  122152331  122364167     BLTP1
52289  chr16   30370934   30377991     MYL11
52290  chr14   93651319   93654808     LYSET
52291  chrMT          0          0    MT-TL1
52292  chrMT          0          0     MT-TP

[45194 rows x 4 columns]

In [14]:
filtered_df.to_csv('genes_siavash_filtered.bed', sep='\t', header=False, index=False)